@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@font-face {
  font-family: 'Pixelade';
  src: url('/fonts/Pixelade.woff2') format('woff2'),
       url('/fonts/Pixelade.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Pixelade", sans-serif;
}